<!--Initial screen that user sees when going to appropriate URL for web app. -->
{% extends "base.html" %}

{% block title %}Home | FitTracker{% endblock %}

{% block pageContent %}
<div class="row text-center">
    <div class="col-lg-12 ">
        <h1 class="display-4 fw-bold">Fit Tracker</h1>
        <p class="lead">A fitness tool used to discover your new level of fitness and overall wellness.</p>
    </div>

    <!-- features section -->
    <div class="col-md-4">
        <div class="bg-white bg-opacity-10 p-4 rounded-3 h-100">
            <i class="bi bi-bullseye text-warning fs-1 mb-3"></i>
            <h5 class="text-warning fw-bold">Set Fitness Goal</h5>
            <p class="small"> Set your fitness goals. Whether it's weight loss, muscle gain, or improved endurance.</p>
        </div>
    </div>

    <div class="col-md-4">
        <div class="bg-white bg-opacity-10 p-4 rounded-3 h-100">
            <i class="bi bi-calendar-check text-success fs-1 mb-3"></i>
            <h5 class="text-success fw-bold">Create Workout Plan</h5>
            <p class="small"> Create personalized workout plans tailored to your fitness level and goals.</p>
        </div>
    </div>

    <div class="col-md-4">
        <div class="bg-white bg-opacity-10 p-4 rounded-3 h-100">
            <i class="bi bi-graph-up text-info fs-1 mb-3"></i>
            <h5 class="text-info fw-bold">Track Progress</h5>
            <p class="small"> Monitor your progress with detailed charts and statistics.</p>
        </div>
    </div>
</div>
{% endblock %}